.form{
    top: 13px;
    border: none;
    display: block;
    max-width: 685px;
    height: 1011px;
    color: white;
    background: black;
    position: absolute;
    right: 0px;
}

.formBody{
    width: 685px;
    padding-left: 100px;
    padding-right: 139px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.formLabel{
    margin: 0.5rem 0;
    font-family: 'Univers LT Std 45 Light';
}
.formInput{
    line-height: 37px;
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Univers LT Std 45 Light';
}
.formSelect{
    height: 37px;
    border: none;
    border-radius: 0px;
    background-color: white;
}
.formHalf{
    flex-direction: column;
    display: flex;
    flex-basis: 213px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.formText{
    width: 100%;
    min-width:100%;
    max-width:100%;
    padding-top: 450px;
    font-family: 'Univers LT Std 45 Light';
    padding-left: 100px;
    padding-right: 80px;
    font-size: 11pt;
}
.formLeftHalf{
    margin-left: 0px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 213px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.formContainer{
    display: flex;
}

.formWhole{
    width: 446px;
    margin-right: auto;
    flex-direction: column;
    display: flex;
}

.outsideContainer{
    height: 1023px;
    width:  950px;
    display: block;
    position: relative;
    z-index: 1;
    right: 0px;

}
.formButton{
    width: 300px;
}

.formImage{
    position: relative;
    top: 0px;
    z-index: 2;
}