.form {
    background-color: black;
    color: white;
    font-family: "UniversLight", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 50px 0 0;
    &__container {
        padding: 0 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__legend {
        font-size: 17px;
        margin-bottom: 25px;
    }

    &__fields {
        width: 100%;
    }

    &__full {
        width: 100%;
    }


    &__label {
        display: block;
        padding-top: 10px;
        margin-bottom: 5px;
    }

    &__error {
        padding-top: 3px;
        color: red;
        margin-bottom: 5px;
    }

    &__input {
        height: 37px;
        font-size: 15px;
        padding: 4px 5px 0;
        margin: 0;
        border: none;
        font-family: 'UniversLight';
        width: 100%;
    }

    &__select {
        height: 37px;
        font-size: 15px;
        padding: 0 5px;
        margin: 0;
        border: none;
        font-family: 'UniversLight';
        width: 100%;
    }

    &__action {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
    }

    &__button {
        padding: 0;
        margin-bottom: 15px;
        &:disabled {
            opacity: 0.5;
        }
    }

    &__footerText {
        display: block;
        margin: 1rem;
        text-align: right;
    }

    textarea {
        resize: vertical;
        min-height: 37px;
    }

    @media only screen and (min-width: 992px) {
        position: relative;
        padding-top: 478px;
        margin-top: -438px;
        z-index: 10;
        width: 685px;

        &__body {
          padding-bottom: 140px;
        }

        &__legend {
            padding: 0 50px 0 100px;
        }

        &__fields {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 0 140px 0 100px;
        }

        &__full {
            position: relative;
            padding: 0 140px 0 100px;
            z-index: 20;
        }

        &__field {
            flex: 1 1 100%;
        }

        &__action {
            display: flex;
            justify-content: flex-end;
            padding-top: 0;
            position: absolute;
            bottom: 25px;
            right: 50px;
            z-index: 10;
        }

        &__button {
            margin-bottom: 0;
        }
    }
}