.main {
  margin-top: 65px;
  @media only screen and (min-width: 992px) {
    margin-top: 0;
  }
}

.banner {
  width: 100%;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    width: calc(100% + 2rem);
    height: 100%;
    margin: 0 -2rem;
    position: absolute;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      object-position: left;
      width: 100% !important;
      position: relative !important;
      height: 100% !important;
    }
  }

  &__textWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "UniversBold", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 52px;
    line-height: 48px;
    text-shadow: 0 0 26px black;
    margin-bottom: 35px;
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 8px solid transparent;
      border-right: 8px solid white;
      border-bottom: 8px solid white;
      box-sizing: border-box;
      text-shadow: 0 0 26px black;
    }
  }

  &__subtitle {
    margin-left: 50px;
    font-family: "UniversBold", sans-serif;
    color: white;
    font-size: 32px;
    line-height: 34px;
    text-shadow: 0 0 26px black;
    margin-bottom: 20px;
  }

  &__description {
    margin-left: 50px;
    font-family: "UniversLight", sans-serif;
    color: white;
    font-size: 17px;
    line-height: 24px;
    text-shadow: 0 0 9px black;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
  }

  @media only screen and (min-width: 992px) {
    &__container {
      max-width: 960px;
    }

    &__imageWrapper {
      width: 100%;
      margin: 0;
    }

    &__title {
      width: 520px;
      margin-left: 380px;
    }

    &__subtitle {
      width: 430px;
      margin-left: 430px;
    }

    &__description {
      width: 390px;
      margin-left: 430px;
    }

    &__action {
      margin-right: calc(50px - 1rem);
    }
  }
}

.ourWork {
  width: 100%;
  padding: 50px 0 30px;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
  }

  &__item {
    font-family: "UniversBold", sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 15px;
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 8px solid transparent;
      border-right: 8px solid black;
      border-bottom: 8px solid black;
      box-sizing: border-box;
    }
  }

  &__link {
    display: block;
    text-align: right;
  }

  @media only screen and (min-width: 992px) {
    &__container {
      max-width: 932px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.heisMan {
  width: 100%;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    width: calc(100% + 2rem);
    height: 100%;
    margin: 0 -2rem;
    position: absolute;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      object-position: left;
      width: 100% !important;
      position: relative !important;
      height: 100% !important;
    }
  }

  &__textWrapper {
    position: relative;
    padding: 40px 0 25px;

  }

  &__title {
    font-family: "UniversBold", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 52px;
    line-height: 48px;
    text-shadow: 0 0 26px black;
    margin-bottom: 35px;
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 8px solid transparent;
      border-right: 8px solid white;
      border-bottom: 8px solid white;
      box-sizing: border-box;
    }
  }

  &__text {
    color: white;
    font-size: 17px;
    line-height: 24px;
    font-family: "UniversLight", sans-serif;
    margin-bottom: 25px;
  }

  @media only screen and (min-width: 992px) {
    &__container {
      max-width: 912px
    }

    &__imageWrapper {
      width: 100%;
      margin: 0 auto;
      position: relative;
    }

    &__textWrapper {
      position: absolute;
      top: 0;
      left: 1rem;
      width: 546px;
      padding: 40px 30px 25px;
    }
  }
}

.expertise {
  width: 100%;
  padding-top: 50px;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__textWrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "UniversBold", sans-serif;
    font-size: 32px;
    margin-bottom: 25px;

  }

  &__text {
    font-size: 17px;
    line-height: 24px;
    font-family: "UniversLight", sans-serif;
    margin-bottom: 17px;
  }

  &__link {
    display: inline-block;
    align-self: flex-end;
  }

  @media only screen and (min-width: 992px) {
    &__container {
      max-width: 852px;
      display: flex;
      justify-content: space-between;
    }

    &__imageWrapper {
      margin-bottom: 0;
    }

    &__textWrapper {
      justify-content: center;
      width: 390px;
    }
  }
}

.honor {
  width: 100%;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    width: calc(100% + 2rem);
    height: 100%;
    margin: 0 -2rem;
    position: absolute;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      object-position: center;
      width: 100% !important;
      position: relative !important;
      height: 100% !important;
    }
  }

  &__textWrapper {
    position: relative;
    padding: 220px 0 105px 25px;

  }

  &__title {
    font-family: "UniversBold", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 68px;
    line-height: 64px;
    margin-bottom: 35px;
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 8px solid transparent;
      border-right: 8px solid white;
      border-bottom: 8px solid white;
      box-sizing: border-box;
    }
  }

  &__text {
    color: white;
    font-size: 17px;
    line-height: 24px;
    font-family: "UniversLight", sans-serif;
    margin-bottom: 17px;
  }

  @media only screen and (min-width: 992px) {
    &__container {
      max-width: 1012px
    }

    &__imageWrapper {
      width: 100%;
      margin: 0 auto;
      position: relative;
    }

    &__title {
      width: 325px;
    }

    &__textWrapper {
      position: absolute;
      top: 177px;
      left: 76px;
      width: 562px;
      padding: 15px 25px 0;
    }
  }
}

.knowHow {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__textWrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "UniversBold", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 68px;
    line-height: 64px;
    margin-bottom: 35px;
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 8px solid transparent;
      border-right: 8px solid black;
      border-bottom: 8px solid black;
      box-sizing: border-box;
    }
  }

  &__text {
    font-size: 17px;
    line-height: 24px;
    font-family: "UniversLight", sans-serif;
    margin-bottom: 17px;
  }

  &__link {
    display: inline-block;
    align-self: flex-end;
  }

  @media only screen and (min-width: 992px) {
    padding-bottom: 0;
    &__container {
      max-width: 892px;
      display: flex;
      justify-content: space-between;
    }

    &__imageWrapper {
      margin-bottom: 0;
    }

    &__textWrapper {
      justify-content: center;
      width: 470px;
    }
  }
}

.precision {
  width: 100%;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    width: calc(100% + 2rem);
    height: 100%;
    margin: 0 -2rem;
    position: absolute;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      object-position: left;
      width: 100% !important;
      position: relative !important;
      height: 100% !important;
    }
  }

  &__textWrapper {
    position: relative;
    padding: 40px 0 25px;

  }

  &__title {
    font-family: "UniversBold", sans-serif;
    color: white;
    font-size: 32px;
    margin-bottom: 17px;
  }

  &__text {
    color: white;
    font-size: 17px;
    line-height: 24px;
    font-family: "UniversLight", sans-serif;
    margin-bottom: 25px;
  }

  @media only screen and (min-width: 992px) {
    &__container {
      max-width: 905px
    }

    &__imageWrapper {
      width: 100%;
      margin: 0 auto;
      position: relative;
    }

    &__textWrapper {
      position: absolute;
      top: 25px;
      left: 1rem;
      width: 472px;
      padding: 25px 50px 0px;
    }
  }
}

.beauty {
  width: 100%;
  padding: 50px 0;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__textWrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "UniversBold", sans-serif;
    font-size: 32px;
    margin-bottom: 25px;
  }

  &__subtitle {
    font-family: "UniversBold", sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
    padding-top: 10px;
    text-align: right;
  }

  &__text {
    font-size: 17px;
    line-height: 24px;
    font-family: "UniversLight", sans-serif;
    margin-bottom: 17px;
  }

  &__link {
    display: inline-block;
    align-self: flex-end;
  }

  @media only screen and (min-width: 992px) {
    &__container {
      max-width: 905px;
      display: flex;
      justify-content: flex-start;
      column-gap: 50px;
    }

    &__imageWrapper {
      margin-bottom: 0;
    }

    &__textWrapper {
      justify-content: center;
      width: 420px;
    }

    &__subtitle {
      position: relative;
      left: -70px;
      margin-right: -100px;
    }
  }
}

.bottomBanner {
  width: 100%;

  &__container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  &__imageWrapper {
    width: calc(100% + 2rem);
    height: 100%;
    margin: 0 -2rem;
    position: absolute;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      object-position: left;
      width: 100% !important;
      position: relative !important;
      height: 100% !important;
    }
  }

  &__textWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 75px 0 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "UniversBold", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 68px;
    line-height: 64px;
    text-shadow: 0 0 26px black;
    margin-bottom: 55px;
  }

  &__subtitle {
    margin-left: 50px;
    font-family: "UniversBold", sans-serif;
    color: white;
    font-size: 32px;
    text-shadow: 0 0 26px black;
    margin-bottom: 20px;
  }


  &__action {
    display: flex;
    justify-content: flex-end;
  }

  @media only screen and (min-width: 992px) {
    max-width: 920px;
    align-self: flex-start;
    z-index: 20;

    &__imageWrapper {
      width: 100%;
      margin: 0;
    }

    &__title {
      width: 520px;
      margin-left: 380px;
    }

    &__subtitle {
      width: 430px;
      margin-left: 430px;
    }

    &__description {
      width: 390px;
      margin-left: 430px;
    }

    &__action {
      margin-right: calc(50px - 1rem);
    }
  }
}

.formWrapper {
  position: relative;
  margin: 0 auto;
  @media only screen and (min-width: 992px) {
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}