.container {
  padding: 0 0;
  width: 100%;

  .main {
    margin: auto;
    display: block;
    width: 1080px;
    h1 {
      font-family: "Univers LT Std 65 Bold";
      font-weight: 100;
      font-size: 52px;
      line-height: 48px;
      text-transform: uppercase;
    }
    h2 {
      font-family: "Univers LT Std 65 Bold";
      font-weight: 100;
    }
    p {
      font-family: "Univers LT Std 45 Light";
      font-weight: 100;
      font-size: 17px;
      line-height: 24px;
    }
  }
}

.expertise {
  position: relative;
  margin: 50px auto;
  width: 965px;
  .expertiseText {
    position: absolute;
    top: 20px;
    color: white;
    width: 600px;
    left: 60px;
    .expertiseDescription {
      width: 430px;
      margin: auto;
      h2 {
        font-size: 32px;
        margin-bottom: 15px;
      }
      button {
        font-family: "Univers LT Std 45 Light";
        font-size: 12pt;
        font-weight: 100;
        padding: 4px;
        text-transform: uppercase;
        color: white;
        background-color: black;
        border: none;
        padding: 0.65rem 1.25rem;
        position: absolute;
        bottom: -50px;
        right: 115px;
      }
    }
  }
}

.customCrystal {
  display: flex;
  width: 825px;
  margin: 0 auto 75px;
  justify-content: space-between;
  .customCrystalText {
    width: 395px;
    align-self: center;
    h2 {
      font-size: 30px;
    }
  }
}

.power {
  width: 983px;
  margin: 0 auto 75px;
  position: relative;
  .powerText {
    position: absolute;
    color: white;
    top: 50px;
    left: 100px;
    h2 {
      font-size: 68px;
      line-height: 64px;
      text-transform: uppercase;
      width: 330px;
      margin-bottom: 30px;
    }
    p {
      width: 490px;
    }
  }
}
.brandedMetal {
  width: 840px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 75px;
  align-items: center;
  .brandedMetalText {
    width: 395px;
    button {
      font-family: "Univers LT Std 45 Light";
      font-size: 12pt;
      font-weight: 100;
      text-transform: uppercase;
      color: white;
      background-color: black;
      border: none;
      padding: 0.65rem 1.25rem;
      float: right;
      right: 10px;
      margin-top: 15px;
    }
    h2 {
      font-size: 32px;
    }
  }
}
.machinedLogo {
  width: 878px;
  margin: 0 auto 75px;
  position: relative;
  .machinedLogoText {
    color: white;
    top: 0;
    left: 40px;
    position: absolute;
    h2 {
      margin-top: 40px;
      font-size: 52px;
      line-height: 48px;
      text-transform: uppercase;
      width: 468px;
      margin-bottom: 30px;
    }
    p {
      width: 460px;
    }
  }
}
.awards {
  display: flex;
  align-items: center;
  width: 893px;
  margin: 0 auto 75px;
  .iAward {
    margin-left: 55px;
  }
  .years {
    margin-left: 34px;
  }
}

.premiumAwards {
  width: 983px;
  margin: 0 auto 75px;
  position: relative;
  .premiumAwardsText {
    position: absolute;
    left: 425px;
    top: 70px;
    color: white;
    h2 {
      font-size: 68px;
      font-weight: 100;
      text-transform: uppercase;
      line-height: 64px;
      width: 360px;
      margin-bottom: 30px;
    }
    p {
      width: 453px;
    }
  }
}

.formWrapper {
  position: relative;
  margin: auto;
  width: 950px;
  h2 {
    position: absolute;
    color: white;
    font-size: 68px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 64px;
    top: 30px;
    left: 350px;
    z-index: 10;
    width: 450px;
  }
  h3 {
    position: absolute;
    font-family: "Univers LT Std 65 Bold";
    font-weight: 100;
    color: white;
    z-index: 10;
    top: 260px;
    left: 350px;
    z-index: 10;
    width: 475px;
    font-size: 32px;
  }
  .formText {
    margin-left: 340px;
  }
  .formImage {
    top: 50px;
    position: absolute;
    z-index: 2;
  }
}
