.button {
  font-family: "Univers LT Std 45 Light";
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  padding: 0.65rem 1.25rem;
}
